.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  background-color: hwb(350 91% 6%);
  height: 92vh; /* Full viewport height */
  box-sizing: border-box;
}

.hero-content {
  flex: 1;
  max-width: 50%;
}

.hero-content h1 {
  font-size: 3rem;
  color: #333;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
}

.hero-image {
  flex: 1;
  max-width: 50%;
}

.hero-image img {
  max-width: 80%;
  height: auto;
}
